## my setup

discovery-server/target/
discovery-server/src/test/

auth-service/target/
auth-service/src/test/

gateway/target/
gateway/src/test/

template-service/target/

subscriber-service/target/
subscriber-service/src/test/

notification-service/target/
notification-service/src/test/

sender-service/target/
sender-service/src/test/

billing-service/target/
billing-service/src/test/

.idea/
.env


