## my setup

discovery-server/target/
discovery-server/src/test/

auth-service/target/
auth-service/src/test/

gateway/target/
gateway/src/test/

template-service/target/
template-service/src/test/

.idea/


